<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
      <h1>Buster's Best Bowling Alley</h1>
        <h2>New York Style Bowling in Las Vegas!!!</h2>
        <p>3545 Las Vegas Blvd Ste 22, Las Vegas, Nevada 89044</p>
    </body>
</html>
