<!DOCTYPE html>
<html>
    <head>
        <h1>Brooklyn Bowl!!!</h1>
    </head>
    <body>
        <h2>New York Style Bowling in Las Vegas!!!</h2>
        <p>3545 Las Vegas Blvd Ste 22, Las Vegas, Nevada 89044</p>
    </body>
</html>
